.gates {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid grey;
	padding: 1rem;
	border-radius: 4px;
}

.gate{
    margin: .8rem;
}

.and {
    background: url('../svg/Digital_logic_gates.svg') no-repeat -2px 0;
    background-size: 100px 150px;
    width: 40px;
    height: 20px;
}

.or {
    background: url('../svg/Digital_logic_gates.svg') no-repeat -2px -42px;
    background-size: 100px 150px;
    width: 40px;
    height: 22px;
}