canvas {
    /* border: 1px solid black; */
    /* margin: 5px; */
    background-color: salmon;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar {
    width: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 1rem;
    overflow-y: scroll;
}